.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    align-items: center;
  }

  hr{
    margin-top: 100px;
  }

  h2{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 20px;
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }

  .form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input{
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  
  form * {
    font-size: 20px;
  }